<a href="https://colab.research.google.com/github/ViktoriaBekhter/Python/blob/main/%D0%91%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5_%D0%BF%D0%BE%D0%BD%D1%8F%D1%82%D0%B8%D1%8F_%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1   Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [ ]:
import pandas as pd

In [ ]:
horse_data = pd.read_csv('horse_data.csv', names = ['surgery', 'age', 'Hospital_Number', 'rectal_temperature',\
                                                    'pulse', 'respiratory_rate', 'temperature_of_extremities', \
                                                    'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', \
                                                    'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', \
                                                    'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination_-_feces',\
                                                    'abdomen', 'packed_cell_volume', 'total_protein', \
                                                    'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', \
                                                    'surgical_lesion?', 'site_of_lesion', 'type', 'specific_code', 'cp_data'], \
                         sep = ',', header=0, na_values='?')
horse_data = horse_data[['surgery', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', \
                         'pain', 'outcome']]
horse_data['surgery'] = horse_data.surgery.astype('Int64')
horse_data['pain'] = horse_data.pain.astype('Int64')
horse_data['outcome'] = horse_data.outcome.astype('Int64')
horse_data

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1,1,39.2,88.0,20.0,NaN,3,3
1,2,1,38.3,40.0,24.0,1.0,3,1
2,1,9,39.1,164.0,84.0,4.0,2,2
3,2,1,37.3,104.0,35.0,NaN,<NA>,2
4,2,1,NaN,NaN,NaN,2.0,2,1
...,...,...,...,...,...,...,...,...
294,1,1,NaN,120.0,70.0,4.0,2,3
295,2,1,37.2,72.0,24.0,3.0,4,3
296,1,1,37.5,72.0,30.0,4.0,4,2
297,1,1,36.5,100.0,24.0,3.0,3,1
298,1,1,37.2,40.0,20.0,NaN,<NA>,3

Задание 2  Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [ ]:
print(horse_data['surgery'].unique())
print(horse_data['age'].unique())
print(horse_data['rectal_temperature'].unique())
print(horse_data['pulse'].unique())
print(horse_data['respiratory_rate'].unique())
print(horse_data['temperature_of_extremities'].unique())
print(horse_data['pain'].unique())
print(horse_data['outcome'].unique())

<IntegerArray>
[1, 2, <NA>]
Length: 3, dtype: Int64
[1 9]
[39.2 38.3 39.1 37.3  nan 37.9 38.1 37.2 38.  38.2 37.6 37.5 39.4 39.9
 38.4 38.6 37.8 37.7 39.  35.4 38.9 37.4 40.3 38.5 37.  39.7 38.7 36.4
 38.8 39.6 36.8 39.5 36.5 36.  37.1 39.3 36.1 36.6 40.8 36.9 40. ]
[ 88.  40. 164. 104.  nan  48.  60.  80.  90.  66.  72.  42.  92.  76.
  96. 128.  64. 110. 130. 108. 100. 112.  52. 146. 150. 120. 140.  84.
  46. 114. 160.  54.  56.  38.  98.  50.  44.  70.  78.  49.  30. 136.
 132.  65.  86. 129.  68.  36.  45. 124. 184.  75.  82.]
[20. 24. 84. 35. nan 16. 36. 12. 52. 28. 48. 21. 60. 34. 42. 30. 96. 72.
 15. 44. 32. 22. 18. 80. 40. 10. 51. 68. 66.  9. 14. 90.  8. 23. 58. 13.
 70. 26. 88. 25. 50.]
[nan  1.  4.  2.  3.]
<IntegerArray>
[3, 2, <NA>, 4, 5, 1]
Length: 6, dtype: Int64
<IntegerArray>
[3, 1, 2, <NA>]
Length: 4, dtype: Int64

In [ ]:
horse_data['age'] = horse_data.age.apply(lambda x: 2 if x == 9 else x)
horse_data

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1,1,39.2,88.0,20.0,NaN,3,3
1,2,1,38.3,40.0,24.0,1.0,3,1
2,1,2,39.1,164.0,84.0,4.0,2,2
3,2,1,37.3,104.0,35.0,NaN,<NA>,2
4,2,1,NaN,NaN,NaN,2.0,2,1
...,...,...,...,...,...,...,...,...
294,1,1,NaN,120.0,70.0,4.0,2,3
295,2,1,37.2,72.0,24.0,3.0,4,3
296,1,1,37.5,72.0,30.0,4.0,4,2
297,1,1,36.5,100.0,24.0,3.0,3,1
298,1,1,37.2,40.0,20.0,NaN,<NA>,3

In [ ]:
horse_data['age'].value_counts()

1    275
2     24
Name: age, dtype: int64

In [ ]:
horse_data.describe()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,298.000000,299.000000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.080268,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,0.272162,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

Моды

In [ ]:
print('Операция:', horse_data['surgery'].mode()[0])
print('Возраст:', horse_data['age'].mode()[0])
print('Ректальная температура:', horse_data['rectal_temperature'].mode()[0])
print('Пульс:', horse_data['pulse'].mode()[0])
print('Частота дыхания:', horse_data['respiratory_rate'].mode()[0])
print('Температура конечностей:', horse_data['temperature_of_extremities'].mode()[0])
print('Боль:', horse_data['pain'].mode()[0])
print('Результат:', horse_data['outcome'].mode()[0])

Операция: 1
Возраст: 1
Ректальная температура: 38.0
Пульс: 48.0
Частота дыхания: 20.0
Температура конечностей: 3.0
Боль: 3
Результат: 1

Дисперсии

In [ ]:
print('Операция:', horse_data['surgery'].var())
print('Возраст:', horse_data['age'].var())
print('Ректальная температура:', horse_data['rectal_temperature'].var())
print('Пульс:', horse_data['pulse'].var())
print('Частота дыхания:', horse_data['respiratory_rate'].var())
print('Температура конечностей:', horse_data['temperature_of_extremities'].var())
print('Боль:', horse_data['pain'].var())
print('Результат:', horse_data['outcome'].var())

Операция: 0.23998372991661587
Возраст: 0.07407241139368367
Ректальная температура: 0.5380345276185787
Пульс: 822.5723424021235
Частота дыхания: 312.5207468879669
Температура конечностей: 1.0948882767064587
Боль: 1.7003980300883765
Результат: 0.5445958466092694

Межквартильный размах

In [ ]:
Q1_surgery = horse_data['surgery'].quantile(0.25)
Q3_surgery = horse_data['surgery'].quantile(0.75)
IQR_surgery = Q3_surgery - Q1_surgery
print('Операция:', IQR_surgery)

Q1_age = horse_data['age'].quantile(0.25)
Q3_age = horse_data['age'].quantile(0.75)
IQR_age = Q3_age - Q1_age
print('Возраст:', IQR_age)

Q1_rectal_temperature = horse_data['rectal_temperature'].quantile(0.25)
Q3_rectal_temperature = horse_data['rectal_temperature'].quantile(0.75)
IQR_rectal_temperature = Q3_rectal_temperature - Q1_rectal_temperature
print('Ректальная температура:', IQR_rectal_temperature)

Q1_pulse = horse_data['pulse'].quantile(0.25)
Q3_pulse = horse_data['pulse'].quantile(0.75)
IQR_pulse = Q3_pulse - Q1_pulse
print('Пульс:', IQR_pulse)

Q1_respiratory_rate = horse_data['respiratory_rate'].quantile(0.25)
Q3_respiratory_rate = horse_data['respiratory_rate'].quantile(0.75)
IQR_respiratory_rate = Q3_respiratory_rate - Q1_respiratory_rate
print('Частота дыхания:', IQR_respiratory_rate)

Q1_temperature_of_extremities = horse_data['temperature_of_extremities'].quantile(0.25)
Q3_temperature_of_extremities = horse_data['temperature_of_extremities'].quantile(0.75)
IQR_temperature_of_extremities = Q3_temperature_of_extremities - Q1_temperature_of_extremities
print('Температура конечностей:', IQR_temperature_of_extremities)

Q1_pain = horse_data['pain'].quantile(0.25)
Q3_pain = horse_data['pain'].quantile(0.75)
IQR_pain = Q3_pain - Q1_pain
print('Боль:', IQR_pain)

Q1_outcome = horse_data['outcome'].quantile(0.25)
Q3_outcome = horse_data['outcome'].quantile(0.75)
IQR_outcome = Q3_outcome - Q1_outcome
print('Результат:', IQR_outcome)

Операция: 1
Возраст: 0.0
Ректальная температура: 0.7000000000000028
Пульс: 40.0
Частота дыхания: 18.0
Температура конечностей: 2.0
Боль: 2
Результат: 1

Выбросы

In [ ]:
lower_bound_surgery = Q1_surgery - (1.5 * IQR_surgery)
upper_bound_surgery = Q3_surgery + (1.5 * IQR_surgery)
remove_outliers_surgery = horse_data[horse_data['surgery']\
                        .between(lower_bound_surgery, upper_bound_surgery, inclusive=True)].sort_values('outcome')
outliers_surgery = pd.concat([horse_data, remove_outliers_surgery]).drop_duplicates(keep=False)
outliers_surgery.head()

<ipython-input-11-5405f6ebd00f>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_surgery = horse_data[horse_data['surgery']\

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
131,<NA>,1,38.0,48.0,20.0,3.0,4,<NA>

In [ ]:
lower_bound_age = Q1_age - (1.5 * IQR_age)
upper_bound_age = Q3_age + (1.5 * IQR_age)
remove_outliers_age = horse_data[horse_data['age']\
                        .between(lower_bound_age, upper_bound_age, inclusive=True)].sort_values('outcome')
outliers_age = pd.concat([horse_data, remove_outliers_age]).drop_duplicates(keep=False)
outliers_age.head()

<ipython-input-12-c353ec3dcdd8>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_age = horse_data[horse_data['age']\

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
2,1,2,39.1,164.0,84.0,4.0,2,2
8,2,2,38.3,90.0,NaN,1.0,5,1
12,2,2,38.0,92.0,28.0,1.0,1,2
15,1,2,NaN,128.0,36.0,3.0,4,2
22,1,2,38.3,130.0,60.0,NaN,2,1

In [ ]:
outliers_age['age'].value_counts()

2    24
Name: age, dtype: int64

In [ ]:
lower_bound_rectal_temperature = Q1_rectal_temperature - (1.5 * IQR_rectal_temperature)
upper_bound_rectal_temperature = Q3_rectal_temperature + (1.5 * IQR_rectal_temperature)
remove_outliers_rectal_temperature = horse_data[horse_data['rectal_temperature']\
                                     .between(lower_bound_rectal_temperature, upper_bound_rectal_temperature, inclusive=True)]\
                                     .sort_values('outcome')
outliers_rectal_temperature = pd.concat([horse_data, remove_outliers_rectal_temperature]).drop_duplicates(keep=False)
outliers_rectal_temperature.head()

<ipython-input-14-87cf9b218b6c>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_rectal_temperature = horse_data[horse_data['rectal_temperature']\

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
4,2,1,NaN,NaN,NaN,2.0,2,1
6,1,1,NaN,60.0,NaN,3.0,<NA>,2
7,2,1,NaN,80.0,36.0,3.0,4,3
15,1,2,NaN,128.0,36.0,3.0,4,2
19,1,1,39.9,72.0,60.0,1.0,5,1

In [ ]:
outliers_rectal_temperature['rectal_temperature'].value_counts()

40.3    2
36.5    2
39.9    1
35.4    1
39.7    1
36.4    1
39.6    1
36.0    1
36.1    1
36.6    1
40.8    1
40.0    1
Name: rectal_temperature, dtype: int64

In [ ]:
lower_bound_pulse = Q1_pulse - (1.5 * IQR_pulse)
upper_bound_pulse = Q3_pulse + (1.5 * IQR_pulse)
remove_outliers_pulse = horse_data[horse_data['pulse']\
                        .between(lower_bound_pulse, upper_bound_pulse, inclusive=True)].sort_values('outcome')
outliers_pulse = pd.concat([horse_data, remove_outliers_pulse]).drop_duplicates(keep=False)
outliers_pulse.head()

<ipython-input-16-2dd421c3169d>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_pulse = horse_data[horse_data['pulse']\

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
2,1,2,39.1,164.0,84.0,4.0,2,2
4,2,1,NaN,NaN,NaN,2.0,2,1
40,2,2,39.0,150.0,72.0,NaN,<NA>,1
51,2,1,NaN,NaN,NaN,1.0,1,1
54,1,2,38.6,160.0,20.0,3.0,3,2

In [ ]:
outliers_pulse['pulse'].value_counts()

150.0    2
164.0    1
160.0    1
184.0    1
Name: pulse, dtype: int64

In [ ]:
lower_bound_respiratory_rate = Q1_respiratory_rate - (1.5 * IQR_respiratory_rate)
upper_bound_respiratory_rate = Q3_respiratory_rate + (1.5 * IQR_respiratory_rate)
remove_outliers_respiratory_rate = horse_data[horse_data['respiratory_rate']\
                                   .between(lower_bound_respiratory_rate, upper_bound_respiratory_rate, inclusive=True)]\
                                   .sort_values('outcome')
outliers_respiratory_rate = pd.concat([horse_data, remove_outliers_respiratory_rate]).drop_duplicates(keep=False)
outliers_respiratory_rate.head()

<ipython-input-18-ce05ac9bfdd1>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_respiratory_rate = horse_data[horse_data['respiratory_rate']\

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
2,1,2,39.1,164.0,84.0,4.0,2,2
4,2,1,NaN,NaN,NaN,2.0,2,1
6,1,1,NaN,60.0,NaN,3.0,<NA>,2
8,2,2,38.3,90.0,NaN,1.0,5,1
28,2,1,37.7,48.0,NaN,2.0,1,1

In [ ]:
outliers_respiratory_rate['respiratory_rate'].value_counts()

80.0    3
68.0    3
84.0    2
96.0    2
70.0    2
72.0    1
66.0    1
88.0    1
Name: respiratory_rate, dtype: int64

In [ ]:
lower_bound_temperature_of_extremities = Q1_temperature_of_extremities - (1.5 * IQR_temperature_of_extremities)
upper_bound_temperature_of_extremities = Q3_temperature_of_extremities + (1.5 * IQR_temperature_of_extremities)
remove_outliers_temperature_of_extremities = horse_data[horse_data['temperature_of_extremities']\
                                             .between(lower_bound_temperature_of_extremities,\
                                             upper_bound_temperature_of_extremities, inclusive=True)]\
                                             .sort_values('outcome')
outliers_temperature_of_extremities = pd.concat([horse_data, remove_outliers_temperature_of_extremities]).drop_duplicates(keep=False)
outliers_temperature_of_extremities.head()

<ipython-input-20-d12517c7dba9>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_temperature_of_extremities = horse_data[horse_data['temperature_of_extremities']\

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1,1,39.2,88.0,20.0,NaN,3,3
3,2,1,37.3,104.0,35.0,NaN,<NA>,2
16,2,1,37.5,48.0,24.0,NaN,<NA>,1
22,1,2,38.3,130.0,60.0,NaN,2,1
24,2,1,37.8,60.0,42.0,NaN,<NA>,1

In [ ]:
outliers_temperature_of_extremities['temperature_of_extremities'].value_counts()

Series([], Name: temperature_of_extremities, dtype: int64)

In [ ]:
lower_bound_pain = Q1_pain - (1.5 * IQR_pain)
upper_bound_pain = Q3_pain + (1.5 * IQR_pain)
remove_outliers_pain = horse_data[horse_data['pain']\
                       .between(lower_bound_pain, upper_bound_pain, inclusive=True)].sort_values('outcome')
outliers_pain = pd.concat([horse_data, remove_outliers_pain]).drop_duplicates(keep=False)
outliers_pain.head()

<ipython-input-22-68494413bed0>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_pain = horse_data[horse_data['pain']\

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,2,1,37.3,104.0,35.0,NaN,<NA>,2
6,1,1,NaN,60.0,NaN,3.0,<NA>,2
16,2,1,37.5,48.0,24.0,NaN,<NA>,1
18,2,1,39.4,110.0,35.0,4.0,<NA>,1
23,1,1,38.1,60.0,12.0,3.0,<NA>,1

In [ ]:
outliers_pain['pain'].value_counts()

Series([], Name: pain, dtype: Int64)

In [ ]:
lower_bound_outcome = Q1_outcome - (1.5 * IQR_outcome)
upper_bound_outcome = Q3_outcome + (1.5 * IQR_outcome)
remove_outliers_outcome = horse_data[horse_data['outcome']\
                       .between(lower_bound_outcome, upper_bound_outcome, inclusive=True)].sort_values('outcome')
outliers_outcome = pd.concat([horse_data, remove_outliers_outcome]).drop_duplicates(keep=False)
outliers_outcome.head()

<ipython-input-24-f1ad8fe6071d>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers_outcome = horse_data[horse_data['outcome']\

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
131,<NA>,1,38.0,48.0,20.0,3.0,4,<NA>

Задание 3  Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [ ]:
horse_data_fill = horse_data
horse_data_fill

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1,1,39.2,88.0,20.0,NaN,3,3
1,2,1,38.3,40.0,24.0,1.0,3,1
2,1,2,39.1,164.0,84.0,4.0,2,2
3,2,1,37.3,104.0,35.0,NaN,<NA>,2
4,2,1,NaN,NaN,NaN,2.0,2,1
...,...,...,...,...,...,...,...,...
294,1,1,NaN,120.0,70.0,4.0,2,3
295,2,1,37.2,72.0,24.0,3.0,4,3
296,1,1,37.5,72.0,30.0,4.0,4,2
297,1,1,36.5,100.0,24.0,3.0,3,1
298,1,1,37.2,40.0,20.0,NaN,<NA>,3

In [ ]:
horse_data_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     298 non-null    Int64
 1   age                         299 non-null    int64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        244 non-null    Int64
 7   outcome                     298 non-null    Int64
dtypes: Int64(3), float64(4), int64(1)
memory usage: 19.7 KB

In [ ]:
(horse_data_fill.isna().mean() * 100).round(2)

surgery                        0.33
age                            0.00
rectal_temperature            20.07
pulse                          8.03
respiratory_rate              19.40
temperature_of_extremities    18.73
pain                          18.39
outcome                        0.33
dtype: float64

Пропуски присутствуют в столбцах "Операция" и "Результат". Заполняем их модальными значениями, так как остальные признаки приближены к модам этих признаков всего датафрейма

In [ ]:
horse_data_fill['surgery'].fillna(horse_data_fill['surgery'].mode()[0], inplace=True)
print(horse_data_fill['surgery'].isna().sum())
print(horse_data_fill['surgery'].unique())

0
<IntegerArray>
[1, 2]
Length: 2, dtype: Int64

In [ ]:
horse_data_fill['outcome'].fillna(horse_data_fill['outcome'].mode()[0], inplace=True)
print(horse_data_fill['outcome'].isna().sum())
print(horse_data_fill['outcome'].unique())

0
<IntegerArray>
[3, 1, 2]
Length: 3, dtype: Int64

In [ ]:
horse_data_fill.loc[132]

surgery                        2.0
age                            1.0
rectal_temperature            37.9
pulse                         40.0
respiratory_rate              24.0
temperature_of_extremities     1.0
pain                           2.0
outcome                        1.0
Name: 132, dtype: Float64

In [ ]:
horse_data_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    Int64
 1   age                         299 non-null    int64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        244 non-null    Int64
 7   outcome                     299 non-null    Int64
dtypes: Int64(3), float64(4), int64(1)
memory usage: 19.7 KB

In [ ]:
fill_median = horse_data_fill

fill_median['pain'].fillna(horse_data_fill['pain'].median(), inplace=True)
print(fill_median['pain'].fillna(horse_data_fill['pain'].median()).isna().sum())
print(fill_median['pain'].unique())

0
<IntegerArray>
[3, 2, 4, 5, 1]
Length: 5, dtype: Int64

In [ ]:
print(fill_median['pain'].describe())

count    299.000000
mean       2.953177
std        1.177736
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [ ]:
fill_moda = horse_data_fill

fill_moda['pain'].fillna(horse_data_fill['pain'].mode()[0], inplace=True)
print(fill_moda['pain'].isna().sum())
print(fill_moda['pain'].unique())

0
<IntegerArray>
[3, 2, 4, 5, 1]
Length: 5, dtype: Int64

In [ ]:
print(fill_moda['pain'].describe())

count    299.000000
mean       2.953177
std        1.177736
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [ ]:
horse_data_fill['pain'].fillna(horse_data_fill['pain'].mode()[0], inplace=True)
print(horse_data_fill['pain'].isna().sum())
print(horse_data_fill['pain'].unique())

0
<IntegerArray>
[3, 2, 4, 5, 1]
Length: 5, dtype: Int64

In [ ]:
horse_data_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    Int64
 1   age                         299 non-null    int64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        299 non-null    Int64
 7   outcome                     299 non-null    Int64
dtypes: Int64(3), float64(4), int64(1)
memory usage: 19.7 KB

Заполняем пропуски в столбцах: "Ректальная температура", "Пульс", "Частота дыхания" и "Температура конечностей"
заполняем пропуски в этих столбцах медианами в разрезе категориальных признаков.

In [ ]:
horse_data_fill['rectal_temperature'].fillna(horse_data_fill.groupby(['surgery', 'age'])['rectal_temperature'].transform('median'), inplace=True)
horse_data_fill['pulse'].fillna(horse_data_fill.groupby(['pain', 'age'])['pulse'].transform('median'), inplace=True)
horse_data_fill['temperature_of_extremities'].fillna(horse_data_fill.groupby(['age', 'outcome'])['temperature_of_extremities'].transform('median'), inplace=True)
horse_data_fill['respiratory_rate'].fillna(horse_data_fill.groupby(['outcome', 'age'])['respiratory_rate'].transform('median'), inplace=True)

In [ ]:
horse_data_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    Int64
 1   age                         299 non-null    int64
 2   rectal_temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory_rate            298 non-null    float64
 5   temperature_of_extremities  299 non-null    float64
 6   pain                        299 non-null    Int64
 7   outcome                     299 non-null    Int64
dtypes: Int64(3), float64(4), int64(1)
memory usage: 19.7 KB

In [ ]:
horse_data_fill['respiratory_rate'].fillna(horse_data_fill['respiratory_rate'].median(), inplace=True)

In [ ]:
horse_data_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    Int64
 1   age                         299 non-null    int64
 2   rectal_temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory_rate            299 non-null    float64
 5   temperature_of_extremities  299 non-null    float64
 6   pain                        299 non-null    Int64
 7   outcome                     299 non-null    Int64
dtypes: Int64(3), float64(4), int64(1)
memory usage: 19.7 KB

In [ ]:
print(horse_data_fill.groupby(['surgery', 'age'])['respiratory_rate'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['surgery', 'age'])['respiratory_rate'].transform('median'), inplace=True)

surgery  age
1        1      24.0
         2      55.0
2        1      24.0
         2      37.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(horse_data_fill.groupby(['surgery', 'pain'])['respiratory_rate'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['surgery', 'pain'])['respiratory_rate'].transform('median'), inplace=True)

surgery  pain
1        1       16.0
         2       35.0
         3       24.0
         4       28.0
         5       28.0
2        1       20.0
         2       24.0
         3       24.0
         4       24.5
         5       28.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(horse_data_fill.groupby(['surgery', 'outcome'])['respiratory_rate'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['surgery', 'outcome'])['respiratory_rate'].transform('median'), inplace=True)

surgery  outcome
1        1          24.0
         2          28.0
         3          24.0
2        1          24.0
         2          28.0
         3          24.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(horse_data_fill.groupby(['age', 'surgery'])['respiratory_rate'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['age', 'surgery'])['respiratory_rate'].transform('median'), inplace=True)

age  surgery
1    1          24.0
     2          24.0
2    1          55.0
     2          37.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(horse_data_fill.groupby(['age', 'pain'])['respiratory_rate'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['age', 'pain'])['respiratory_rate'].transform('median'), inplace=True)

age  pain
1    1       20.0
     2       24.0
     3       24.0
     4       24.5
     5       28.0
2    1       28.0
     2       60.0
     3       54.0
     4       44.0
     5       50.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(horse_data_fill.groupby(['age', 'outcome'])['respiratory_rate'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['age', 'outcome'])['respiratory_rate'].transform('median'), inplace=True)

age  outcome
1    1          24.0
     2          28.0
     3          24.0
2    1          64.0
     2          44.0
     3          24.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(horse_data_fill.groupby(['pain', 'surgery'])['respiratory_rate'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['pain', 'surgery'])['respiratory_rate'].transform('median'), inplace=True)

pain  surgery
1     1          16.0
      2          20.0
2     1          35.0
      2          24.0
3     1          24.0
      2          24.0
4     1          28.0
      2          24.5
5     1          28.0
      2          28.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(horse_data_fill.groupby(['pain', 'age'])['respiratory_rate'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['pain', 'age'])['respiratory_rate'].transform('median'), inplace=True)

pain  age
1     1      20.0
      2      28.0
2     1      24.0
      2      60.0
3     1      24.0
      2      54.0
4     1      24.5
      2      44.0
5     1      28.0
      2      50.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(horse_data_fill.groupby(['pain', 'outcome'])['respiratory_rate'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['pain', 'outcome'])['respiratory_rate'].transform('median'), inplace=True)

pain  outcome
1     1          20.0
      2          23.0
      3          20.0
2     1          24.0
      2          32.0
      3          28.0
3     1          24.0
      2          28.0
      3          24.0
4     1          30.0
      2          28.0
      3          24.0
5     1          27.0
      2          28.0
      3          23.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(horse_data_fill.groupby(['outcome', 'surgery'])['respiratory_rate'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['outcome', 'surgery'])['respiratory_rate'].transform('median'), inplace=True)

outcome  surgery
1        1          24.0
         2          24.0
2        1          28.0
         2          28.0
3        1          24.0
         2          24.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(horse_data_fill.groupby(['outcome', 'age'])['respiratory_rate'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['outcome', 'age'])['respiratory_rate'].transform('median'), inplace=True)

outcome  age
1        1      24.0
         2      64.0
2        1      28.0
         2      44.0
3        1      24.0
         2      24.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(horse_data_fill.groupby(['outcome', 'pain'])['temperature_of_extremities'].median())
fill_median_by_groups = horse_data_fill
fill_median_by_groups['respiratory_rate'].fillna(horse_data_fill.groupby(['outcome', 'pain'])['respiratory_rate'].transform('median'), inplace=True)

outcome  pain
1        1       2.0
         2       2.0
         3       2.0
         4       3.0
         5       3.0
2        1       2.0
         2       3.0
         3       3.0
         4       3.0
         5       3.0
3        1       3.0
         2       3.0
         3       3.0
         4       3.0
         5       3.0
Name: temperature_of_extremities, dtype: float64